@{
    ViewData["Title"] = "Ajout des Prets";
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}

<h1>Ajouter les Prets Existants</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

<a href="@Url.Action("DownloadLoansTemplate", "RHAdmin", new { fileName = "LoansTemplate.xlsx" })">
    <span>
        <i class="fas fa-download"></i>
    </span>
    <span class="hide-menu">Template</span>
</a>

<form method="post" id="importLoans" enctype="multipart/form-data" action="ImportLoans">
    <div class="form-group">
        <label for="file">Choisir Fichier Excel:</label>
        <input type="file" name="file" id="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary m-3">Télécharger</button>
</form>
