
@{
    ViewBag.Title = "Index";
}

    <h2>LIENS ECOBANK ET NAVIGATEURS RECOMMANDES</h2>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de l'application</th>
                <th>Lien de l'applciation</th>
             
            </tr>
        </thead>
        <tbody>


            <tr>

                <td>F12</td>
                <td><a href="https://fc12-hostapp-2/FCUBSFWA_LIVE" target="_blank">https://fc12-hostapp-2/FCUBSFWA_LIVE</a></td>

            </tr>


            <tr>

                <td>ASTRA RTGS CONSOLIDE</td>
                <td><a href="https://astra.ecobank.group/auth/signin" target="_blank"> ASTRA RTGS CONSOLIDE</a></td>

            </tr>

            <tr>

                <td>IBPS</td>
                <td><a href="https://ibps-acdc-01/omniapp/pages/login/loginapp.jsf" target="_blank">https://ibps-acdc-01/omniapp/pages/login/loginapp.jsf</a></td>

            </tr>
            <tr>
                <td>ECOSOFTWARE</td>
                <td><a href="https://ecosoft/portal/" target="_blank">https://ecosoft/portal/</a></td>
                </td>
            </tr>

            <tr>
                <td>ECOSOFTWARE</td>
                <td><a href="https://ecosoftdr/portal/" target="_blank">https://ecosoftdr/portal/</a></td>
                </td>
            </tr>

            <tr>

                <td>WEBCLEARING</td>
                <td><a href="http://10.8.14.2:5222/WebClearing/" target="_blank">http://10.14.1.247:8080/WebClearing/</a></td>

            </tr>

        
            <tr>

                <td> ARIBA LINK</td>
                <td><a href="http://ecobank.procurement.ariba.com/" target="_blank">http://ecobank.procurement.ariba.com/</a></td>

            </tr>

            <tr>

                <td>AVS CODE</td>
                <td><a href="http://196.168.165.34/Prepaiement/" target="_blank">http://196.168.165.34/Prepaiement/</a></td>

            </tr>
            <tr>

                <td>WESTERN UNION</td>
                <td><a href="https://wupos.westernunion.com/agent-app/login" target="_blank">https://wupos.westernunion.com/agent-app/login</a></td>

            </tr>
            <tr>

                <td>RIA</td>
                <td><a href="https://ilite.riaenvia.net/Account/LogOn" target="_blank">https://ilite.riaenvia.net/Account/LogOn</a></td>

            </tr>

            <tr>

                <td>CRM</td>
                <td><a href="http://crm.ecobank.com/fins_fra/start.swe" target="_blank">http://crm.ecobank.com/fins_fra/start.swe</a></td>

            </tr>
            <tr>

                <td>CIP</td>
                <td><a href="http://10.244.2.15/CIP/web/jsp/IndexPublic.jsp" target="_blank">http://10.244.2.15/CIP/web/jsp/IndexPublic.jsp</a></td>

            </tr>
            <tr>

                <td>SWIFT</td>
                <td><a href="https://swiftgrouplive/swp/customgroup/operator/" target="_blank">https://swiftgrouplive/swp/customgroup/operator/</a></td>

            </tr>

            <tr>

                <td>Alertes</td>
                <td><a href="http://10.8.179.18:5801/ealert/TG/index.php?app=logout    " target="_blank">http://10.8.179.18:5801/ealert/TG/index.php?app=logout</a></td>

            </tr>

            <tr>

                <td>EOL</td>
                <td><a href="https://ecobankonline.ecobank.com/index.html?module=login" target="_blank">https://ecobankonline.ecobank.com/index.html?module=login</a></td>
                >
            </tr>


            <tr>

                <td>WALLET</td>
                <td><a href="https://10.8.243.1/wallet-ui-service.epg-shared-mobileapp-prod/web/Client_UI/pending-checker" target="_blank">https://10.8.243.1/wallet-ui-service.epg-shared-mobileapp-prod/web/Client_UI/pending-checker   </a></td>

            </tr>

            <tr>

                <td>MY HR</td>
                <td><a href="https://login-emqf-saasfaprod1.fa.ocs.oraclecloud.com/oam/server/obrareq.cgi?encquery%3DoaTkgdToZ72daEzb5cmfmnxCtFGNm1sLRBK0E7NhX6A59DrEWr6HJnDn%2FaWYuRPi%2BI4i8m8JuE8iVrfiWr51YAjnqp5JyidGRC%2B%2BJt%2FzwQKI7TijStLFIygLMPLPP7%2F9N4suaDXyYj5xHlm%2FQsJfHUgxjksYc4LeEx3Qo6GZhdGApMdbiaJGdke%2Ba0afC%2B68b5TZV9vVCOvC4nAg901gmSkOYjMhLjJXC0dI7YOAX2RHQ%2B3bF2CD%2B3xbfOj7zHwnT7%2BZD2UWdJ6t17BIZCyplgOqH%2BmX4KSfeWZ7eIIGTweN9y4%2B7mPfrK0Hc06rpzahFBq%2BNIzxBCBmTNjWMqGblhlLGa84R5wrwgjCPEwv9Yf7nG9fwZp0Y4kUbW5adVz0IX%2FAJL7mB5xxqRgkGxlMG5IuxHak0bSPnOesWnoMBHfBtql%2Fg1UR93VRD1X%2FU2QAlMGd6vNn%2BAGA1EJ%2FKd4FZ7tGwDwlAurpc1J7ix85ibrhst9E9R%2FqO%2Bc2TLgRbgVwQj%2FNBm9UK2lt0UYYZNLVwA%3D%3D%20agentid%3DOraFusionApp_11AG%20ver%3D1%20crmethod%3D2%26cksum%3Df19294f013f5cc4c37ee8181fa579a53f12b2f26&ECID-Context=1.005nYE%5E2slS6yG5pvOg8yX0007jo0000gN%3BkXjE" target="_blank"> ORACLE MY HR</a></td>
            </tr>




            <tr>

                <td>D365</td>
                <td><a href="https://ecobankcrm.crm4.dynamics.com/" target="_blank">https://ecobankcrm.crm4.dynamics.com/</a></td>

            </tr>


            <tr>

                <td>360T</td>
                <td><a href="http://tex.360t.com/ecobank.jnlp" target="_blank">http://tex.360t.com/ecobank.jnlp</a></td>

            </tr>
            <tr>

                <td>SAGETIL</td>
                <td><a href="https://10.244.2.105:8080/monitor/view/auctions" target="_blank">https://10.244.2.105:8080/monitor/view/auctions</a></td>

            </tr>
            <tr>

                <td>BO</td>
                <td><a href="https://bireporting-live/BOE/BI" target="_blank">https://bireporting-live/BOE/BI</a></td>

            </tr>
            <tr>

                <td>LIEN MASTER PASS MARCHANT</td>
                <td><a href="https://10.2.108.15:8383/EcoMerchant/merchmanager/loadmerchantmanagerform" target="_blank">https://10.2.108.15:8383/EcoMerchant/merchmanager/loadmerchantmanagerform</a></td>

            </tr>
            <tr>

                <td>BANKCOLLECT</td>
                <td><a href="https://payexpresslive/BankCollectGlobal/Login.aspx" target="_blank">https://payexpresslive/BankCollectGlobal/Login.aspx</a></td>

            </tr>
            <tr>

                <td>CONFIGURATION TELEPHONE IP</td>
                <td><a href="https://10.6.149.35/ccmadmin/showHome.do" target="_blank">https://10.6.149.35/ccmadmin/showHome.do</a></td>

            </tr>
            <tr>

                <td>RELEVE DE COMPTE</td>
                <td><a href="http://10.6.120.10:8080/ereleve/Ordinaire.xhtml" target="_blank">http://10.6.120.10:8080/ereleve/Ordinaire.xhtml</a></td>

            </tr>


            <tr>

                <td>MOODYS</td>
                <td><a href="http://10.2.106.52/riskanalyst/" target="_blank">http://10.2.106.52/riskanalyst/</a></td>

            </tr>

            <tr>

                <td>ORION</td>
                <td><a href="https://epg-orionweb-01/" target="_blank">https://epg-orionweb-01/</a></td>

            </tr>

            <tr>

                <td>INTERFACE&mdash;AVIS Génération </td>
                <td><a href="http://10.8.14.65:5234/interfaceETG/login/login?ReturnUrl=%2fINTerfaceETG%2f" target="_blank">GENERATION DES RELEVES & AVIS </a></td>

            </tr>

            <tr>

                <td>INTERFACE&mdash;AVIS Planification  </td>
                <td><a href="http://10.8.14.65:5234/Ecoservice/TypeRapport/CreateAvis" target="_blank">PLANIFICATION DES RELEVE & AVIS</a></td>

            </tr>
        </tbody>
    </table>

<footer>

    <p style=" height:30px; color:#ffffff;font:bold; background-image:url(../../Content/images/logo_Ecobank.jpg);background-position:left;background-repeat:repeat-x;"></p>
    <p style="text-align:center"> &copy;@DateTime.Now.Year ECOSERVICE</p>
</footer>